{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["chrome >= 60", "safari >= 11"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-function-bind",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["env", "react"]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-es2015-classes"
      ]
    },
    "production": {
      "plugins": [
      ]
    }
  }
}
